<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="MinhaConexaoDB" connectionString="Data Source=(localdb)\MSSQLLocalDB; Initial Catalog=C:\Matioli\DAD\dad-mvc-exemplo\AppMVC.View\APPDATA\Database.mdf; Integrated Security=True;"
providerName="System.Data.SqlClient" />
	</connectionStrings>

</configuration>